<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyTiecCuoi.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTiecCuoi.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-M4GHD5G\LUCY;Persist Security Info=True;User ID=sa;Password=140403;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTiecCuoi.Properties.Settings.QUANLYTIECCUOIConnectionString"
            connectionString="Data Source=DESKTOP-M4GHD5G\LUCY;Initial Catalog=QUANLYTIECCUOI;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>